@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary_color: #36b864;
$basic_color: #4d4d4d;
$basic_font_size: 16px;
$black: #000000;
$white: #ffffff;
$font_family: "Be Vietnam Pro", sans-serif;

@mixin align-center {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_family;
}

header {
  height: 98px;
  @include align-center;
  justify-content: space-between;
  padding: 0 130px;

  div.logo_name {
    @include align-center;
    gap: 9px;
    div.text {
      h1 {
        color: $black;
        font-size: 25px;
        font-weight: 800px;
        span {
          color: $primary_color;
        }
      }
      p {
        color: $basic_color;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  nav {
    ul {
      @include align-center;
      gap: 29px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $basic_color;
          font-size: $basic_font_size;
        }
        a.green_home {
          color: $primary_color;
        }
      }
    }
  }

  button.quote {
    width: 159px;
    height: 48px;
    border-radius: 6px;
    background-color: $primary_color;
    font-size: $basic_font_size;
    color: $white;
    border: none;
  }
}
